.idea/
nullafi-java-sdk.iml
src/main/main.iml
src/test/test.iml
src/main/java/Example.java
.vs/nullafi-java-sdk/xs/UserPrefs.xml
target/archive-tmp
target/classes
target/test-classes
target/generated-sources
target/maven-archiver
target/maven-status
target/surefire
target/surefire-reports
target/jacoco.exec
target/site
src/main/java/example/Example.java
/target/
.classpath
.project
.settings
*.DS_Store

